*.iml
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/vcs.xml
/.idea/runConfigurations.xml
/.idea/gradle.xml
/.idea/encodings.xml
/.idea/misc.xml
/.idea/compiler.xml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx